<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Settings">
        <setting id="username" label="Username:" type="text" default="" />
        <setting id="password" label="Password:" type="text" default="" option="hidden" />
        <setting id="servers" label="Servers:" type="text" default="data2.tvatom.com data1.tvatom.com" />
        <setting id="rating" label="Rating:" type="text" default=""/>
        <setting id="debug" label="Debugging:" type="bool" default="false"/>
    </category>
</settings>
